<p>Bonjour <%= @user.first_name %>.</p>
<p><a href=<%= @link %>>Consulter sa balance</a></p>
<p>Votre compte Happy Dining vient d’être crédité d’un montant de : +<%= @amount %></p>
<ul>
	<li>
		<strong>Nom de la réservation communiquée au restaurant : </strong>
		<span><%=@reservation.booking_name%></span>
	</li>
	<li>
		<strong>Nb de couverts : </strong>
		<span><%=@reservation.nb_people%></span>
	</li>
	<li>
		<strong>Restaurant : </strong>
		<span><%=@restaurant.name%></span>
	</li>
	<li>
		<strong>Horaire : </strong>
		<span><%=@time%></span>
	</li>
	<li>
		<strong>Addresse : </strong>
		<span><%=@restaurant.full_address%></span>
	</li>
	<li>
		<strong>Fidélité : </strong>
		<span>10%</span>
	</li>
	<li>
		<strong>Numéro de réservation : </strong>
		<span><%=@reservation.confirmation%></span>
	</li>
</ul>
<br>
<p>L'équipe Happy Dining vous remercie.</p>
<strong>Contact : </strong>
<span>09.52.66.53.19 / 06.25.94.09.95</span>
