<p>Bonjour , vous avez une nouvelle réservation confirmée :</p>
<ul>
	<li>
		<strong>Nb de couverts : </strong>
		<span><%=@reservation.nb_people%></span>
	</li>
	<li>
		<strong>Confirmation Number: </strong>
		<span><%=@reservation.confirmation%></span>
	</li>
	<li>
		<strong>Restaurant: </strong>
		<span><%=@restaurant.name%></span>
	</li>
	<li>
		<strong>Nom de la reservation : </strong>
		<span><%=@reservation.booking_name%></span>
	</li>
	<li>
		<strong>Horaire : </strong>
		<span><%=@time%></span>
	</li>
	<li>
		<strong>Numéro de réservation : </strong>
		<span><%=@reservation.confirmation%></span>
	</li>
</ul>
<br>
<p>Nous vous rappelons d'accuellir le(s) client(s) uniquement au nom de la réservation et de <span style="font-weight: bold;">ne pas mentionner Happy Dining.</span></p>
<p>Nous vous rappelons de bien <span style="font-weight: bold;">mettre de coté le montant de l'addition</span> afin de nous le transmettre dés la fin du service.</p>
<br>
<p>L'équipe Happy Dining vous remercie.</p>
<p><span style="font-weight: bold;">Contact : </span>09.52.66.53.19 / 06.25.94.09.95</p>