<h1>New Reservation</h1>
<ul>
	<li>
		<strong>Confirmation Number: </strong>
		<span><%=@reservation.confirmation%></span>
	</li>
	<li>
		<strong>Restaurant: </strong>
		<span><%=@restaurant.name%></span>
	</li>
	<li>
		<strong>Time: </strong>
		<span><%=@time%></span>
	</li>
	<li>
		<strong>User: </strong>
		<span><%=@user.full_name%></span>
	</li>
	<li>
		<strong>Booking Name: </strong>
		<span><%=@reservation.booking_name%></span>
	</li>
	<li>
		<strong>Address: </strong>
		<span><%=@restaurant.full_address%></span>
	</li>
</ul>