<p>Nouvelle réservation! Félicitations à nous!</p>
<ul>
	<li>
		<strong>User :</strong>
		<span><%= link_to @user.full_name, admin_user_url(@user), target: "_blank" %></span>
	</li>
	<li>
		<strong>Restaurant : </strong>
		<span><%= link_to @restaurant.name, admin_restaurant_url(@restaurant), target: "_blank"%></span>
	</li>
	<li>
		<strong>Numéro de réservation : </strong>
		<span><%= link_to @reservation.confirmation, admin_reservation_url(@reservation), target: "_blank"%></span>
	</li>
	<li>
		<strong>Nom de la réservation</strong>
		<span><%=@reservation.booking_name%></span>
	</li>
	<li>
		<strong>Nb de couverts : </strong>
		<span><%=@reservation.nb_people%></span>
	</li>
	<li>
		<strong>Horaire : </strong>
		<span><%=@time%></span>
	</li>
	<% if @user_contribution > 0 %>
		<li>
			<strong>Reduction sur l’addition : </strong>
			<span><%=@user_contribution%>€</span>
		</li>
	<% else %>
		<li>
			<strong>Rétribution : </strong>
			<span>10%</span>
		</li>
	<% end %>
</ul>
